
:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

@layer base{
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tailwind-page{
  font-size:180%;
}
body {
  min-height: 100vh;
  color: var(--color-light);
  background-color: var(--color-darkest);
  padding: 2rem;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 30vw);
  position: relative;
}
.headerWrapper {
  position: relative;
  top: -30%;
}


/* .app-header {
  width: calc(80%);
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
} */

h1 {
  font-family: "Codystar";
  font-size: calc(100vmin - 93vmin);
  text-align: center;
}
h2 {
  font-size: calc(100vmin - 96vmin);
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(0, 216, 255);
}

h3 {
  font-size: calc(100vmin - 97.5vmin);
  font-weight: 600;
  margin-bottom: 4rem;
  text-align: center;
}

h4 {
  font-size: calc(100vmin - 96vmin);
  font-weight: 600;
  margin-bottom: 2.4rem;
}


